html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/****************full-document*******************/

html {
  font-size: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.full-page-container {
  max-width: 1200px;
  margin: 0 auto;
}

/**************index****************/

#home-container {
  background-image: url("../images/cinema.jpg");
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 10rem;
}

#home-right-part h1 {
  color: white;
  font-size: 10rem;
  width: 45rem;
  font-weight: bold;
  line-height: 10rem;
  margin-bottom: 3.7rem;
}

#home-right-part a {
  color: rgb(82, 168, 197);
  background: white;
  border: 0;
  font-size: 2rem;
  text-decoration: none;
  font-weight: bold;
  padding: 1.5rem 2.5rem;
  border-radius: 2.5rem;
}

/********************movies************************/

#movies-page-container {
  padding-top: 5rem;
  background: rgb(238, 138, 188);
}

#movies-page-container h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-left: 4rem;
}

#movies-page-container h3 {
  font-size: 2rem;
  margin-bottom: 4rem;
  margin-left: 4rem;
}

#movies-container {
  display: flex;
  flex-wrap: wrap;
}

#movies-container div {
  width: 33.33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;
}

#movies-container img {
  width: 20rem;
  margin-bottom: 1rem;
}

#movies-container h4 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

#movies-container a {
  font-size: 1.8rem;
}

/**************movie**************/

#movie-container {
  display: flex;
  justify-content: center;
  padding: 15rem 0;
}

#image-container img {
  width: 20rem;
}

#info-container {
  padding-left: 5rem;
}

#info-container a {
  font-size: 1.6rem;
}

#movie-title {
  margin: 2rem 0;
  font-size: 1.8rem;
  font-weight: bold;
}

#director {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

#stars-title {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

#stars-list {
  margin-bottom: 2rem;
}

#stars {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  margin-left: 2rem;
}

#description {
  width: 70rem;
  font-size: 1.6rem;
  line-height: 1.8rem;
}
