<h1>Ironhack Cinema</h1>
<h3>Click on the movie to check the showtimes</h3>
<div id='movies-container'>
  {{#each allTheMovies}}
  <div>
    <img src={{image}} />
    <h4>{{title}}</h4>
    <a href="/movie/{{_id}}">see more</a>
  </div>
  {{/each}}
</div>